.App {
  text-align: center;
  max-width: 980px;
  margin: auto;
}

.Body{
    background: #E3E6E3;
    font-family: Arial, Helvetica, sans-serif;
    color:#222;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.big-crd-hdln {
    margin: 10px 0;
}

.big-crd-main {
    border-top: 1px solid #ecebeb;
    padding: 15px 0 5px;
    margin-bottom: 1px;
    clear: both;
    text-align: left;
}

.big-crd-reltd-itm {
    margin: 0 0 10px;
    width: 100%;
    display: inline-block;
}

.big-crd-rltd-txt {
    font-weight: bold;
    margin: 10px 0;
    color: #1866DB;
}

.cb-bg-white{
    background-color: #fff;
}

.cb-col{
    display: inline-block;
    box-sizing: border-box;
    float: left;
    min-height: 1px;
}

.cb-col-20{
    width: 20%;
}

.cb-col-33{
    width: 33%;
}

.cb-col-47{
    width: 47%;
}

.cb-col-67{
    width:67%;
}
.cb-col-100 {
    width: 100%;
}

.cb-hdln-hght {
    min-height: 82px;
}

.cb-font-12 {
    font-size: 12px;
}

.cb-hm-lft {
    margin-bottom: 5px;
    padding: 0 15px;
}

.cb-hm-lft-hdr {
    margin: 0;
    padding: 15px 15px 0;
    color: #009270;
}

.cb-hm-mid {
    border-left: 5px solid #e3e6e3;
    border-right: 5px solid #e3e6e3;
    padding: 0 15px;
}

.cb-hm-mid .big-crd-main:first-child, .cb-sr-left .big-crd-main {
    border-top: 0;
}


.cb-hm-mr-lnk {
    padding: 0 0 10px;
}

.cb-lst-itm, .cb-bg-white {
    background: #fff;
}

.cb-lst-itm-sm {
    padding: 10px 0 5px;
}

.cb-lv-scr-mtch-hdr {
    line-height: 21px;
    font-size: 16px;
}

.cb-nws-hdln-ancr {
    color: #222;
}

.cb-nws-hdln-ancr {
    padding-bottom: 5px;
}

.cb-nws-intr {
    color: #666;
    padding-bottom: 5px;
}

.cb-nws-intr, .sml-crd-main {
    clear: both;
}

.cb-nws-time {
    color: #666;
}

.cb-nws-time {
    font-size: 12px;
    padding-bottom: 5px;
}

.cb-pos-rel {
    position: relative;
}

.cb-pretag {
    color: #B34A57;
}

.cb-arcv-yr, .cb-brdr-thin-btm, .cb-lst-itm, .cb-scrd-itms, .cb-srs-lst-itm, .cb-tms-itm .cb-mtch-lst {
    border-bottom: 1px solid #ecebeb;
}

.cb-text-link {
    color: #1866db;
}

.crd-cntxt {
    font-size: 12px;
    color: #666;
    padding-bottom: 10px;
}

h2.heading {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2.big_heading{
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

h3.small_heading{
    display: block;
    font-size: 18px;
    line-height: 24px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 10px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.sml-crd-main {
    border-top: 1px solid #ecebeb;
    margin: 0;
    display: inline-block;
}

.sml-crd-hdln {
    margin: 0 0 0 10px;
}

.sml-crd-main {
    padding: 15px 0 5px;
    width: 100%;
    text-align: left;
}

.sml-crd-subtxt {
    color: #666;
    font-size: 12px;
}

.sml-crd-subtxt {
    margin: 0 10px 10px;
}

.text_left{
    text-align: left;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
